<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
   <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <p class="rating" rating-stars rating="vm.data.location.rating"></p>
        <p>{{ vm.data.location.address }}</p>
          <div class="callout large">
            <h5 class="panel-title">Opening hours</h5>
            <p ng-repeat="time in vm.data.location.openingTimes" ng-switch on="time.closed">
                {{ time.days }} :
                <span class="opening-time" ng-switch-when="true">closed</span>
                <span class="opening-time" ng-switch-default>{{ time.opening + " - " + time.closing }}</span>
              </p>
            <h5 class="panel-title">Facilities</h5>
            <span class="label label-warning label-facility" ng-repeat="facility in vm.data.location.facilities">
                <span class="glyphicon glyphicon-ok"></span> 
                {{ facility }}
              </span>
          </div>


  <footer-generic></footer-generic>
</div>