doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='foundation/css/foundation.min.css')
  body
    block content

    script(src='/foundation/js/vendor/jquery.js')
    script(src='/foundation/js/foundation.min.js')
    script(src='/foundation/js/what-input.js')

