extends layout

block content
  #banner.page-header
    .row
      .medium-6.columns
        h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
    
    each location in locations
           .medium-6.columns
        h3
          a(href="/location")=location.name
