| extends layout
block content
    .row.pageheader
      .large-12.columns
        h1  pageHeader.title&gt;
    .row
      .small-12.columns
        h1 pageHeader.title
      |          
      p.rating
        | +outputRating(location.rating)
      p.class='location.address'
      p.callout.secondary
        span.warning.label
          h2.panel-title Opening Hours
      p.panel-body
        | each time in location.openingTimes
      p
         | #{time.days} :
        | if time.closed
     | closed
    | else
    | | #{time.opening} - #{time.closing}
    p.callout.secondary
        span.warning.label
          h2.panel-title Facilities
      p.panel-body
        | each facility in location.facilities
        button.warning.hollow.button

