extends layout

block content
  #banner.page-header
    .row
      .medium-6.columns
        h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
<div class="row">
  <div class="small-8 medium-8 large-8">list-group-item</div>
  </div class="small-4 medium-4 large-4">lead</div>
</div>
         
