extends layout

block content
  #banner.page-header
    .row
      .medium-6.columns
        h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
    .row

         
           .medium-6.columns
   
         each location in locations
         h3
          a(href="/location")= location.name
         h3
          a.button.large.expanded= location.distance
                     
                      .medium-6.columns {{ location.distance | formatDistance }}
          p.address {{ location.address }}
