extends layout

block content
  #banner.page-header
    .row
      .medium-6.columns
        h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
<div class="row">
  <div class="small-8 medium-8 large-8 list-group-item">list-group-item</div>
      <div class="row list-group">
       each location in locations
       <div class="small-12 list group item">
        <h4>
          location name
          location rating
          location distance
        <p>  location address
        <p>
         each facility in facilities

  </div class="small-4 medium-4 large-4 lead">lead</div>
</div>
         
