<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="small-12 medium-8 columns">
      <label>Filter results</label>
       <input id="filter" type="text", name="filter", ng-model="textFilter">
       <div class="error">{{ vm.message }}</div> 
       <div class="row list-group">
         <div class="small-12 columns list-group-item" ng-repeat="location in vm.data.locations | filter :textFilter">
                <div class="callout large">

            <h4>
               <a href="/#/location/{{ location._id }}">{{ location.name }}</a>
               <small class="rating-stars" rating-stars rating="location.rating"></small>
               <span class="badge float-right"> {{ location.distance | formatDistance }}</span>
            </h4>
            <p class="address">{{ location.address }}</p>
            <p>
               <span><label class="label-facility" ng-repeat="facility in location.facilities">
                    {{ facility }}
               </label></span>
            <p>
               <span><label class="label-facility" ng-repeat="venue in foursquare.venues">
                    {{ venue }}
         </div>
       </div>
  </div>

  
    <div class="small-12 medium-8 columns">
      <p class="lead">{{ vm.sidebar.content }}</p>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>